{% extends 'base.html.twig' %}

{% block title %}Sorteos en los que participas{% endblock %}

{% block body %}
    <h1>Sorteos en los que participas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sorteo.id }}</td>
            </tr>
            <tr>
                <th>Presupuesto</th>
                <td>{{ sorteo.presupuesto }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ sorteo.fecha ? sorteo.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sorteo_index') }}">back to list</a>

    <a href="{{ path('app_sorteo_edit', {'id': sorteo.id}) }}">edit</a>

    {{ include('sorteo/_delete_form.html.twig') }}
{% endblock %}
